preencha com suas informações

MYSQL_ROOT_PASSWORD=####
SPRING_DATASOURCE_USERNAME=####
SPRING_DATASOURCE_URL=####
SPRING_DATASOURCE_PASSWORD=####
ADMIN_USERNAME=####
ADMIN_PASSWORD=####
JWT_SECRET=####
JWT_EXPIRATION=####
SERVER_PORT=####
JAVA_TOOL_OPTIONS="####"